* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: rgba(145, 184, 218, 0.945);
}

.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  height: 60px;
}

.facebook-logo {
  width: 125px;
}

.form-group {
  display: flex;
  margin-top: 18px;
  align-content:flex-end;
  flex-flow: column wrap;
  justify-content:space-between;
  border: 1px solid red;
}

.facebook-login {
  border: 1px solid orange;
  display: flex;
  align-content: flex-end;
  align-self: flex-end;
  align-items: flex-end;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

.left-content {
  display: flex;
  flex-direction: column;
  width: 1063px;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 300px;
}

.name-lastname {
  display: flex;
}

#facebook-register {
  background-color: rgb(4, 7, 7);
}

#facebook-slogan {
  text-align: left;
  width: 300px;
}