* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: rgba(145, 184, 218, 0.945);
}

.top-bar {
  display: flex;
  background-color: rgb(66, 103, 178);
  height: 60px;
}

.facebook-logo {
  width: 125px;
}

.form-group {
  display: flex;
  align-content: center;
  flex-flow: column wrap;
  justify-content: center;
  width: 900px;
}

.facebook-login {
  display: flex;
  align-content: center;
}

.form-control {
  align-self: flex-end;
}

.main-content {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

.left-content {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: 300px;
}

.name-lastname {
  display: flex;
}

#facebook-register {
  background-color: rgb(4, 7, 7);
}

#facebook-slogan {
  text-align: left;
  width: 300px;
}